.header {
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    background-image: url('http://localhost:5000/images/generated_image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    animation: fadeIn 1.74s ease-in forwards; /* Fade-in effect */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #343a40;
    color: white;
    position:relative;
}

.nav-item {
    padding: 10px;
    z-index: 1000;
    margin-right: 10px;
    float: left;
    width: 20%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Transition for fade-in/out */
}

.nav-item.active {
    background-color: #007bff;
    color: #fff;
}

.nav-item:hover {
    opacity: 1; /* Fade-in on hover */
}

.nav-item:not(:hover) {
    opacity: 0.7; /* Slightly faded out when not hovered */
}

/* Keyframes for fade-in effect */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.site-title {
    font-size: 2rem;
}
