.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #343a40;
  color: white;
  padding: 10px 0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.nav-item {
    padding: 10px;
    z-index: 1000;
    margin-right: 10px;
    float: left;
    width: 20%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Transition for fade-in/out */
}

.nav-item.active {
    background-color: #007bff;
    color: #fff;
}

.nav-item:hover {
    opacity: 1; /* Fade-in on hover */
}

.nav-item:not(:hover) {
    opacity: 0.7; /* Slightly faded out when not hovered */
}

/* Keyframes for fade-in effect */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.site-title {
  font-size: 1.5rem;
  margin: 0;
}
